*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1260px;
}
/* shared style */
.in-every-section{
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
body{
    width: 1260px;
    height: 1000vh;
}
#hero{
    height: 614px;
    margin: 0 auto;
    width: 1000px;
    border-radius: 16px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16)-19.5%,rgba(16, 16, 16, 0) 100%), url("images/Banner\ Image.png");
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.hero-content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-title{
    color: aliceblue;
    font-weight: 700;
    font-size: 29px;
}
.hero-title-2{
    color: white;
    font-size: 49px;
}

/* section2 */
#hero-2{
    border: 1px solid black;
    height: 706px;
    width: 802px;
    margin: 100px auto;
}
.percent-off{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.new-year-image{
    height: 500px;
    width: 100%;
}
.percent-off-title{
    font-weight: bolder;
    font-size: 49px;
    color: red;
}
.percent-off-para{
    font-size: 19px;
    color: red;
}
.percent-off-title-2{

}

/* section 3 */
#hero-3{
    background-image: linear-gradient(0deg, rgb(16, 16, 16)-19.5%,rgba(16, 16, 16, 0) 100%) ,url("images/Vectorrr.png");
    background-size: cover;
    /* object-fit: contain; */
    background-position: center;
    height: 500px;
    margin: 0 auto;
    width: 1000px;
    background-repeat: no-repeat;
    border-radius: 26px;
}
.midnight-party{
    display: flex;
    padding: 30px 40px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.left-part{

}
.btn{
    margin-top: 50px;
    border: none;
    background: transparent;
    color: aliceblue;
    margin-left: 30px;
}
.midnight-party-h1{
    color: white;
    font-size: 49px;
    margin-bottom: 20px;
}
.midnight-party-para{
    color: white;
    font-size: 15px;
}
.right-side{

}
.img-2024{
    width: 270px;
}